body {
    margin: 0;
    padding: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
}

li{
    line-height: 2;
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.my-accuracy {
    margin-right: 6rem!important;
    margin-top: .5rem!important;
}
.myClose {
    border-radius: 50px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: -20px;
    line-height: 1.5px;
    margin-top: -35px;
}
.card-text {
    color: tomato;
    font-size: 18px;
    font-weight: 600;
}